<%#= meta :title => "My title", :my_custom_tag => "My custom value" %>
<%#= meta [:property => "og:image", :content => "http://mydomain.com/images/my_image.jpg"] %>

<!-- Top Area -->
<div class="tops">
   <div class="container">
      <div class="row">
         <div class="span12">
            <!-- Logo -->
             <div class="logo">
               <div class="padd">
                  <div class="logo-pic">
                     <!-- Add your logo image in below line. Replace # with your site url. -->
                     <a href="#"><img src="assets/logo.png" alt=""></a>
                  </div>
                  <div class="logo-text">
                     <!-- Add company name in below line. Replace # with your site url. -->
                     <h1><a href="#">Company Logo</a></h1>
                  </div>   
               </div>   
             </div>
             <div class="csoon">
               <div class="padd">
                  <!-- Coming Soon section. -->
                  <h2>NEIGHBOR LENDING</h2>
                  <p>Building stronger, more vibrant communities.</p>
               </div>
             </div>
            <%= form_for(@subscriber) do |f| %>
				<%= render 'shared/error_messages', object: @subscriber %>	
				<%= f.email_field :email, :class => "form", :style => "width: 40%;min-width: 290px;padding: 13px 10px 12px;font-size: 18px;text-transform:uppercase;border: none;-webkit-border-top-left-radius: 3px;-webkit-border-bottom-left-radius: 3px;-webkit-border-top-right-radius: 3px;-webkit-border-bottom-right-radius: 3px;-moz-border-radius-topleft: 3px;-moz-border-radius-bottomleft: 3px;border-top-left-radius: 3px;border-bottom-left-radius: 3px;color: #9a9a9a;", :placeholder => "ADD YOUR EMAIL" %>
				<%= f.submit "Submit", class: "btn btn-large btn-danger", :style => "padding:13px; margin-top:12px; margin-left:20px" %>
			<% end %>
             </div>
         </div>
      </div>
   </div>
</div>   



<div class="bottoms">
	<div class="padd" style="background:rgba(255,255,255,0.3);padding-top:30px">
		<div class="container">
	      <div class="row">
	        	<div class="span8">
					<div id="herotext">
						<h1>A crowdfunding platform with local focus</h1>
						<ul>
							<li>Community members invest in local projects that matter to them and earn interest on their investments.</li>
							<li>Local businesses benefit from participation of community and lower interest rates.</li>
							<li>Your community and local business thrives!</li>
						</ul>
		      		</div>
				</div>
		        <div class="span4">
					<ul class="thumbnails">
		      			<img src="assets/iphone.png" alt="">
					</ul>        
				</div>
			</div>
	   	</div>
	</div>
</div>



<div class="bottoms">
	<div class="padd" style="background:rgba(255,255,255,.9);padding-top:30px">
		<div class="container">
	      <div class="row">
	        	<div class="span12">
					<div id="herotext">
						<ul style="text-align:center">
							<h1 style="text-align:center;">How it works</h1>
							<li>Find projects in your area that interest you. Or create your own!</li>
							<li>Choose how much you want to invest and at what interest rate.</li>
							<li>Spread the word to help reach the project goal.</li>
							<li>If the project goal is reached, a loan will be issued and interest will be paid to each investor at their desired rate.</li>
							<li>Industry professionals are engaged to ensure the project is a success.</li>
							<li>Build the community of your dreams!</li>							
						</ul>
		      		</div>
				</div>
			</div>
	   	</div>
	</div>
</div>




<div class="bottoms">
	<div class="padd" style="padding-top:30px">
	<div class="container">

	      <!-- Middle Content -->
	      <!-- Left Column -->
	      <div class="row">
	        <div class="span4">
				<ul class="thumbnails">
	      				<img src="assets/iphone.png" alt="">
				</ul>        
			</div>
	      <!-- END Left Column -->
	      <!-- Right Column -->
	        <div class="span8">
	          <h2>Nullam pretium tincidunt nisl id tincidunt.</h2>
			  <h4><em>Integer molestie libero augue in tempus massa. Nullam pretium tincidunt nisl id tincidunt.</em></h4>
				<br>
				<ul>
					<li><em>Blah blah</em> Blah blah blah</li>
					<li><em>Blah blah</em> Blah blah blah</li>
					<li><em>Blah</em> Blah blah bla</li>
				</ul>
				<p><a href="http://www.basicoh.com" title="Basicoh">Blah blah bla</a> Lorem Ipsum is simply. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.  </p>
				<p style="font-size:1.25em"><a href="#">Reserve your app today</a> (few slots availables).</p>
			  <h4><em>Another important stuff</em></h4>
			  	<br>
				<ul class="thumbnails">
	 				<li class="span4">
	      				<img src="assets/three.png" align="center">
						<h3>I have been asked to support a capital project in my community that is being funded through Neighbor Lending, what’s in it for me?</h3>
						<ul>
							<li>First of all, return on your investment.  There is risk in lending money to anyone, and return on investment is one big way in which creditors are protected from the risk of losing their investment.  That said, your contribution to a Neighbor Lending project will still provide capital to a business in your neighborhood at a rate likely below anything a bank or other agency could provide.  Which brings leads to the next point . . .</li>
							<li>Neighbor Lending is a source of capital to small business owners that might otherwise have difficulty raising capital through banks or privately</li>
							<li>Eat from what you grow: take satisfaction in improving the service offerings in your neighborhood!</li>
							<li>Take control of the identity of your neighborhood by endorsing businesses that provide services that are needed in your community</li>
							<li>Bringing more businesses to your neighborhood produces jobs in your neighborhood</li>
							<li>Bringing new businesses and services to your neighborhood improves the attractiveness of your neighborhood which can have a favorable impact on property values</li>
							<li>This is a great way to meet your neighbors and proprietors in your community</li>
							
						</ul>	
	  				</li>
	    			<li class="span4">
	      				<img src="assets/four.png" align="center">
	    				<h3>I am a business owner, why should I consider Neighbor Lending for financing my next venture or capital project?</h3>
	      				<ul>
							<li>Community involvement in capital raising process mitigates risk</li>
							<li>Lower risk equates to lower cost of financing than you will find from a bank</li>
							<li>Neighbor lending specializes in providing capital to brick and mortar business ventures which historically struggle to get financing from banks</li>
							<li>Financing through debt encourages "ownership" by the community but without sacrificing control of operations from the proprietor</li>
							<li>Mentorship, networking events, business to business opportunities, and advisory services are available to Neighbor Lending clients</li>
							<li>getting community to be part of capital raising process is promotional as well</li>
							<li>Involvement of the community as your creditors creates marketing agents for your business</li>
							<li>This is a great way to meet your neighbors and proprietors in your community</li>
						<ul>
	  				</li>
				</ul>       
			</div>      <!-- END Left Column -->
	      </div>      <!-- END Middle Content-->



	   </div>
	</div>
</div>
	
<!-- Bottom section -->
   
<div class="bottoms">
   <div class="container">
      <div class="cols">
         <div class="row">
            <div class="span4">
               <div class="padd">
                  <!-- About section -->
                  <div class="widget"> 
                     <!-- About title -->
                     <h3><span>About Us</span></h3>
			      				<img src="assets/brandon.png" width="85" height="85" align="left" style="border:2px solid #eee; margin-right:10px">
			    				<h4>BRANDON HOUK</h4> <i style="color:gray">co-founder</i>
			      				<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
								<hr>
			      				<img src="assets/peter.png" width="85" height="85" align="left" style="border:2px solid #eee; margin-right:10px">
			    				<h4>PETER SPIER</h4> <i style="color:gray">co-founder</i>
			      				<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                  </div>
               </div>
            </div>
            <div class="span4">
               <div class="padd">
                  <div class="widget">
                     <!-- Twitter section -->
                     <h3><span>Twitter</span></h3>
                     <div class="tweet"></div>
                  </div>
               </div>
            </div>
            <div class="span4">
               <div class="padd">
                  <div class="widget">
                     <!-- Not working Contact us section. It has 3 fields, Name, Email and Comment. -->
                     <h3><span>Contact Us</span></h3>

							<%= form_for(@subscriber) do |f| %>
								<%= render 'shared/error_messages', object: @subscriber %>
								<div class="control-group">	
								<%= f.text_field :name, :class => "form-horizontal input", :placeholder => "Name" %>
								</div>
								<div class="control-group">	
								<%= f.email_field :email, :class => "form-horizontal input", :placeholder => "Email" %>
								</div>
								<div class="control-group">	
								<%= f.text_area :comment, :size => "40x5", :placeholder => "Comment", :class => "form-horizontal input" %>
								</div>
								<%= f.submit "Submit", class: "btn", :style => "width:90px;height:30px" %>
							<% end %>	
									<hr>
	                     <div class="socials">
	                        <!-- Social media icons. Replace # with your social profile links. -->
	                        <a href="#" class="tip" data-original-title="Facebook"><img src="assets/facebook.png" style="padding-right:12px" alt=""></a>
	                        <a href="#" class="tip" data-original-title="Twitter"><img src="assets/twitter.png" style="padding-right:12px" alt=""></a>
	                        <a href="#" class="tip" data-original-title="Google Plus"><img src="assets/googleplus.png" style="padding-right:12px" alt=""></a>
	                        <a href="#" class="tip" data-original-title="LinkedIn"><img src="assets/linkedin.png" style="padding-right:12px" alt=""></a>
	                     </div>
                  </div>
               </div>
            </div>
         </div>  
      </div>
   </div>
  <div class="container">
    <div class="row">
      <div class="span12">
         <!-- Copyright section. You can add extra links here. Replace below line with your site url and site name. -->
        <div class="fpadd" style="text-align:center">© 2012 <a href="#">Neighbor Lending</a></div>
		<% if user_signed_in? && current_user.admin? %>
		<div class="fpadd" style="text-align:center"><%= link_to "Subscriber List", subscribers_path %> | <%= link_to "Logout", destroy_user_session_path, method: :delete %></div>
		<% else %>
		<% end %>
      </div>
    </div>
  </div>
</div>
   
<!-- Footer -->
	

<!-- JS -->
<script src="js/jquery.tweet.js"></script>
<script type="text/javascript">

/* Tool tip */
$('.tip').tooltip();

/* Twitter. Add your twitter username below. */
jQuery(function($){
  $(".tweet").tweet({
    join_text: "auto",
    username: "neighborlending",
    avatar_size: 48,
    count: 4,
    auto_join_text_default: " we said, ",
    auto_join_text_ed: " we: ",
    auto_join_text_ing: " we were: ",
    auto_join_text_reply: " we replied: ",
    auto_join_text_url: " we said: ",
    loading_text: "loading tweets..."
  });
});
</script>